body{
    background-color: #43142D;
}

h1{
     font-family: "Rye", serif;
     font-weight: 400;
  font-style: normal;
    color: #4e5d00;
    background-color: #BCA987;

}

h2 {
    color: #A51366;
}